<div>
  <h1>{{ section.settings.headline }}</h1>
  <div>
    {% for block in section.blocks %}
      <div>
        <img
          src="{{ block.settings.image | image_url }}"
          width="200"
          height="auto"
        >
        <h2>{{ block.settings.title }}</h2>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Cocktail Carousel" ,
  "settings": [ {
    "type" : "text" ,
    "label": "headline" ,
    "id" : "headline"
  }] ,
  "blocks": [
    {
      "name" : "image" ,
      "type": "image" ,
      "settings": [
        {
          "type": "image_picker",
          "label": "image",
          "id": "image"
        } ,
        {
          "type": "text" ,
          "label": "title" ,
          "id": "title"
        } ,
        {
          "type": "url" ,
          "label": "Coctail-page",
          "id": "Cocktail-page"
        }
      ]
    }
  ] ,
  "presets": [
    {"name": "Cocktail viewer"}
  ]
}
{% endschema %}
