<div>
  <h1>{{ section.settings.headline }}</h1>
  <div>
   {% for block in section.blocks %}
      <div>
        {{ block.image }}
        
      </div>
     

     
    {% endfor %}
    
  </div>
  
</div>

{% schema %}
{
  "name": "Cocktail Carousel" ,
  "settings": [ {
    "type" : "text" ,
    "label": "headline" ,
    "id" : "headline"
  }] ,
  "blocks": [
    {
      "name" : "image" ,
      "type": "image" ,
      "settings": [
        {
          "type": "image_picker",
          "label": "image",
          "id": "image"
        } ,
        {
          "type": "text" ,
          "label": "title" ,
          "id": "title"
        } ,

      ]
    }
  ] ,
  "presets": [
    {"name": "Cocktail viewer"}
  ]
}
{% endschema %}
