<div>
  {% for cocktail in product.metafields.custom.cocktails.value %}
    {{ cocktail.title }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Cocktail recommendation",
  "settings": [
    {
      "type": "text",
      "label": "Headline",
      "id": "headline"
    }
  ],
  "blocks": [
    {
      "name": "cocktail",
      "type": "cocktail",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type":"text",
          "label": "Cocktail Page Handle",
          "id": "cocktail_handle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cocktail Recommendation"
    }
  ]
}
{% endschema %}
