<div>
  <h1>{{ section.settings.headline }}</h1>
  <div>
    {% for cocktail in shop.metaobjects.cocktails.values %}
      <a href="https://velvet-pour.myshopify.com/pages/cocktails/{{ cocktail.handle }}">
        <div>
          <img
            src="{{ cocktail.image_file_ | image_url }}"
            width="200"
            height="auto"
          >
          <h2>{{ cocktail.title }}</h2>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Cocktail Carousel",
  "settings": [
    {
      "type": "text",
      "label": "Headline",
      "id": "headline"
    }
  ],
  "blocks": [
    {
      "name": "cocktail",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Cocktail Page Handle",
          "id": "cocktail_handle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cocktail Viewer"
    }
  ]
}
{% endschema %}
